### Group_By_Aggregation

In [1]:
import numpy as np;
import pandas as pd;

In [6]:
data = {
    "Category": ["A", "B", "A", "B", "A", "B", "A", "B"],
    "Store": ["S1", "S1", "S2", "S2","S1", "S2","S2", "S1"],
    "Sales": [100, 200, 150, 250, 120, 180, 200, 300],
    "Quantity":[10, 15, 25, 36, 18, 96, 45, 56],
    "Date": pd.date_range("2026-01-01", periods = 8)
}
df = pd.DataFrame(data);

In [7]:
print(df);

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2026-01-01
1        B    S1    200        15 2026-01-02
2        A    S2    150        25 2026-01-03
3        B    S2    250        36 2026-01-04
4        A    S1    120        18 2026-01-05
5        B    S2    180        96 2026-01-06
6        A    S2    200        45 2026-01-07
7        B    S1    300        56 2026-01-08

In [9]:
## Group by category and calculate the sum of sales
cat = df.groupby("Category");
for i, v in cat:
    print(i);
    print("\n");
    print(v);

A


  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2026-01-01
2        A    S2    150        25 2026-01-03
4        A    S1    120        18 2026-01-05
6        A    S2    200        45 2026-01-07
B


  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2026-01-02
3        B    S2    250        36 2026-01-04
5        B    S2    180        96 2026-01-06
7        B    S1    300        56 2026-01-08

In [11]:
cat = df.groupby("Category")["Sales"].sum();
print(cat);

Category
A    570
B    930
Name: Sales, dtype: int64

In [14]:
# Group by Store and calculate the sum of sales
cat = df.groupby("Store");
for i, v in cat:
    print(i);
    print(v);

S1
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2026-01-01
1        B    S1    200        15 2026-01-02
4        A    S1    120        18 2026-01-05
7        B    S1    300        56 2026-01-08
S2
  Category Store  Sales  Quantity       Date
2        A    S2    150        25 2026-01-03
3        B    S2    250        36 2026-01-04
5        B    S2    180        96 2026-01-06
6        A    S2    200        45 2026-01-07

In [15]:
cat = df.groupby("Store")["Sales"].sum();
print(cat);

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [22]:
## Group by multiple columns
## Group by Category and store

cat = df.groupby(["Category","Store"])["Sales"].sum();
print(cat);

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

In [30]:
print(df["Sales"].mean());

187.5

In [33]:
print(df["Sales"].agg(["sum", "mean", "min", "count", "std", "median"]));

sum       1500.000000
mean       187.500000
min        100.000000
count        8.000000
std         66.062741
median     190.000000
Name: Sales, dtype: float64