## Missing Datas

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = {
    "A": [12,56, np.nan, 56, 36],
    "B": [47,np.nan, 56,89,23],
    "C": [58,25,36,np.nan,np.nan],
    "D": [23,65,np.nan,56,75]
}
df = pd.DataFrame(data);
print(df);

      A     B     C     D
0  12.0  47.0  58.0  23.0
1  56.0   NaN  25.0  65.0
2   NaN  56.0  36.0   NaN
3  56.0  89.0   NaN  56.0
4  36.0  23.0   NaN  75.0

In [4]:
print(df.isna());

       A      B      C      D
0  False  False  False  False
1  False   True  False  False
2   True  False  False   True
3  False  False   True  False
4  False  False   True  False

In [5]:
values = {"A": 0, "B": 2, "C":3, "D":4};
print(df.fillna(value = values));

      A     B     C     D
0  12.0  47.0  58.0  23.0
1  56.0   2.0  25.0  65.0
2   0.0  56.0  36.0   4.0
3  56.0  89.0   3.0  56.0
4  36.0  23.0   3.0  75.0

In [6]:
print(df);

      A     B     C     D
0  12.0  47.0  58.0  23.0
1  56.0   NaN  25.0  65.0
2   NaN  56.0  36.0   NaN
3  56.0  89.0   NaN  56.0
4  36.0  23.0   NaN  75.0

In [7]:
print(df.fillna(0));

      A     B     C     D
0  12.0  47.0  58.0  23.0
1  56.0   0.0  25.0  65.0
2   0.0  56.0  36.0   0.0
3  56.0  89.0   0.0  56.0
4  36.0  23.0   0.0  75.0

In [9]:
print(df.dropna());

      A     B     C     D
0  12.0  47.0  58.0  23.0

In [12]:
print(df.dropna(thresh=2)); # atleast null value

      A     B     C     D
0  12.0  47.0  58.0  23.0
1  56.0   NaN  25.0  65.0
2   NaN  56.0  36.0   NaN
3  56.0  89.0   NaN  56.0
4  36.0  23.0   NaN  75.0

In [15]:
print(df.fillna(df.mean()));

      A      B          C      D
0  12.0  47.00  58.000000  23.00
1  56.0  53.75  25.000000  65.00
2  40.0  56.00  36.000000  54.75
3  56.0  89.00  39.666667  56.00
4  36.0  23.00  39.666667  75.00