## PIVOT TABLES

In [12]:
import numpy as np;
import pandas as pd;

In [17]:
data = {
    "Date": pd.date_range("2023-01-01", periods=20),
    "Product": ["A", "B", "C", "D"] * 5,
    "Region": ["East", "West", "North", "South", "East", "North", "South", "East", "West",
               "North", "South", "East", "West", "North", "South", "East", "West","North", "South", "North"],
    "Sales": np.random.randint(100, 1000, 20),
    "Units": np.random.randint(10, 100, 20),
    "Rep": ["John", "Marry", "Bob", "ALice", "John", "Marry", "Bob", "Alice", "John", "Marry","Bob", "Alice",
            "Bob", "Alice", "John", "Marry", "Bob", "Alice", "John", "Alice"]
    
}
df = pd.DataFrame(data);
df["Month"] = df["Date"].dt.month_name();
df["Quarter"] = "Q" + df["Date"].dt.quarter.astype(str);
print(df);

         Date Product Region  Sales  Units    Rep    Month Quarter
0  2023-01-01       A   East    708     15   John  January      Q1
1  2023-01-02       B   West    361     87  Marry  January      Q1
2  2023-01-03       C  North    175     95    Bob  January      Q1
3  2023-01-04       D  South    149     29  ALice  January      Q1
4  2023-01-05       A   East    922     34   John  January      Q1
5  2023-01-06       B  North    205     80  Marry  January      Q1
6  2023-01-07       C  South    550     93    Bob  January      Q1
7  2023-01-08       D   East    349     76  Alice  January      Q1
8  2023-01-09       A   West    322     43   John  January      Q1
9  2023-01-10       B  North    152     95  Marry  January      Q1
10 2023-01-11       C  South    975     83    Bob  January      Q1
11 2023-01-12       D   East    189     64  Alice  January      Q1
12 2023-01-13       A   West    434     39    Bob  January      Q1
13 2023-01-14       B  North    673     30  Alice  January      Q1
14 2023-01-15       C  South    630     54   John  January      Q1
15 2023-01-16       D   East    897     49  Marry  January      Q1
16 2023-01-17       A   West    250     18    Bob  January      Q1
17 2023-01-18       B  North    662     90  Alice  January      Q1
18 2023-01-19       C  South    173     74   John  January      Q1
19 2023-01-20       D  North    717     87  Alice  January      Q1

In [20]:
print(pd.pivot_table(df, values="Sales", index="Region", columns="Product", aggfunc="median"));

Product      A      B      C      D
Region
East     815.0    NaN    NaN  349.0
North      NaN  433.5  175.0  717.0
South      NaN    NaN  590.0  149.0
West     322.0  361.0    NaN    NaN

In [21]:
print(pd.pivot_table(df, values=["Sales","Units"], index="Region", columns="Product"));

              Sales                                Units
Product           A      B      C           D          A      B     C     D
Region
East     815.000000    NaN    NaN  478.333333  24.500000    NaN   NaN  63.0
North           NaN  423.0  175.0  717.000000        NaN  73.75  95.0  87.0
South           NaN    NaN  582.0  149.000000        NaN    NaN  76.0  29.0
West     335.333333  361.0    NaN         NaN  33.333333  87.00   NaN   NaN

## Cross Tabs

In [22]:
print(pd.crosstab(df["Region"], df["Product"]));

Product  A  B  C  D
Region
East     2  0  0  3
North    0  4  1  1
South    0  0  4  1
West     3  1  0  0